<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoApp</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!-- Vue Template -->

    <div id="app">
        <div class="border">


            <header>
                <form>

                    <label class="description" for="description">Add To Description</label> <br>
                    <input class="input-text" type="text" name="description" id="description" v-model="newDescription"
                        placeholder="Whats up?">
                    <button @click.prevent="addTodo">Add</button>

                </form>

            </header>



            <!-- Filter Button -->
            <main>

                <div>
                    <form>

                        <label class="todo-op" for="all">All</label>
                        <input class="radio" type="radio" id="all" name="filter" value="all" v-model="activeFilter">

                        <label class="todo-op" for="open">Open</label>
                        <input class="radio" type="radio" id="open" name="filter" value="open" v-model="activeFilter">

                        <label class="todo-op" for="done">Done</label>
                        <input class="radio" type="radio" id="done" name="filter" value="done" v-model="activeFilter">

                    </form>

                </div>

                <!-- Todos List -->

                <ul>

                    <li v-for=" todo of filterTodos" :key="todo.id">
                        <input class="checkbox" type="checkbox" v-model="todo.done" :id="getHtmlId(todo.id)">
                        <label :for="getHtmlId(todo.id)"> {{ todo.description }}</label>
                    </li>

                </ul>

        </div>





        </main>
    </div>


    <script src="https://unpkg.com/vue@latest"></script>
    <script src="script.js"></script>



</body>

</html>