<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name Picker</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <header>
            <h1>Name Picker</h1>
            <p>Pick a random name</p>
        </header>

        <main>

            <form>
                <label for="new-name"> Type a name:
                </label>
                <div class="new-name-wrapper">
                    <input type="text" name="new-name" id="new-name" v-model="newName">
                </div>
                <button class="add-btn" @click.prevent="addName" :disabled="newName.length === 0">Add Name</button>
                <button class="pick-btn" @click.prevent="drawName" :disabled="names.length < 2">Pick a name</button>

            </form>


            <ul>
                <li v-for="(currentName, index) of names" :key="currentName.id">
                    <span> {{ currentName.name }} </span>
                    <button @click="names.splice(index, 1)" class="btn-del">X</button>
                </li>
            </ul>


            <article v-show="isDrawn">

                <h2>Congratulitaion {{ winner }}!</h2>
                <p>You are the lucky winner</p>
                <button @click="winner = ''"> Draw Another Name</button>
                <button @click="reset">Reset and Start New</button>

            </article>
        </main>



    </div>




    <script src="https://unpkg.com/vue@latest"></script>
    <script src="script.js"></script>


</body>

</html>